if _path == "/index.html"

#anim-head
  #header-cover2.header-cover(data-parallax="scroll" data-image-src="../img/slide-new-black.jpg")
      .container
          h2.cover-title.text-center.white-text.slide-bottom We enhance the online
          p.cover-sub-text.text-center.white-text.slide-top credibility of your business
          div.scroll-btn-anim2
            a#TrendssecBtn.trendsbtn(href='#')
              div.scroll-btn-anim
                | &nbsp;