div#botpage
    .botpage.section.header_bg
          .container
            .subtitle
              h1.title.white-text Messaging BOT
              p.lead "With Artificial Intelligence (AI) for Facebook Messenger and Telegram"
              ul#bots_icons
               li.fb.hvr-float-shadow
                    img(src="../img/botpage/messenger.png")
               li.teleg.hvr-float-shadow
                    img(src="../img/botpage/telegram.png")
               li.slack.hvr-float-shadow
                    img(src="../img/botpage/slack.png")
               li.skyp.hvr-float-shadow
                    img(src="../img/botpage/skype.png")
              //- p.button-down
              //-   a#botsecBtn.botpagespec(href='#')
              //-     img(src='../img/botpage/slider-down-arrow.png', alt='')