if _path == "/index.html"

#anim-head
  #header-cover2.header-cover(data-parallax="scroll" data-image-src="../img/slide-new-black.jpg")
      .container
          h2.cover-title.text-center.white-text.slide-bottom(style='opacity: 1;visibility: visible;position: relative;top: 0px;margin-bottom: 0px;')
            | We enhance the online 
            br
            span.credible credibility
            |  of your business
          div.scroll-btn-anim2
            a#TrendssecBtn.trendsbtn(href='#')
              div.scroll-btn-anim
                | &nbsp;