#paragraph-8591-container
    .header_bg.section
          .container
            .subtitle
              h1.title Responsive Websites
              //- h1.title Static
              p.lead "The Ultimate solution for your online business needs"