#paragraph-6983-container
    .header_bg.section
          .subtitle
            h1.title Shops
            p.lead "The Ultimate solution for your online business needs"
            .inquiry.text-center
              p
                strong YOUR OWN SHOPPING CART
              a.btn.btn-primary.eq-ui-waves-light(href='http://app.webriq.com/sites/create', target='_blank') Sign-up for FREE
