div#botpage
    .botpage.section.header_bg
          .container
            .subtitle
              h1.title.white-text Messaging BOT
              p.lead "With Artificial Intelligence (AI) for Facebook Messenger and Telegram"
              p.button-down
                a#botsecBtn.botpagespec(href='#')
                  img(src='../img/botpage/slider-down-arrow.png', alt='')