section.header-menu
  .container.hidden-xs
    .row
      .col-md-6.col-sm-6
        a(href='/')
          img(src=records.site.sitedata[0].logo)
      .col-md-6.col-sm-6
        .menu-btn-header
          .navbar.navbar-default
            button.navbar-toggle(type='button', data-toggle='offcanvas', data-target='#myNavmenu', data-canvas='body')
              span.icon-bar
              span.icon-bar
              span.icon-bar
  // Mobile nav
  nav.navbar.navbar-default.navbar-static-top.hidden-sm.hidden-md.hidden-lg
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          img.wt(src='../img/webfactories-white-logo.png', alt='')
          img.nt(src='../img/webfactories-nt.png', alt='')
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='/')
              i.fa.fa-home
              |   Home
          li
            a(href='/#web-services')
              i.fa.fa-cog
              |   Web Services
          li
            a(href='/#web-services-commerce')
              i.fa.fa-shopping-cart
              |   E-commerce
          li
            a(href='/bots-are-the-new-apps')
              i.fa.fa-android(aria-hidden='true')  
              |   Bots
          li
            a(href='/#projects')
              i.fa.fa-briefcase
              |   Portfolio
          li
            a(href='/pricing')
              i.fa.fa-money
              |   Pricing
          li
            a(href='/partners')
              i.fa.fa-user
              |   Partners
          li
            a(href='/recent-blog')
              i.fa.fa-newspaper-o
              |   Blog
          li
            a#contact-usBtn(href='#')
              i.fa.fa-mobile
              |   Contact Us
// Desktop Navs
nav#myNavmenu.navmenu.navmenu-default.navmenu-fixed-right.offcanvas(role='navigation')
    .main-menu.pt-50.pl-50.pr-20.pb-20
        ul.dropdown.nav-navbar.p-0.menu1.nav.navmenu-nav
          li
            a(href='/') HOME
          li
            a(href='/#web-services') WEB SERVICES
          li
            a(href='/#web-services-commerce') E-COMMERCE
          li
            a(href='/bots-are-the-new-apps') BOTS
          li
            a(href='/#projects') PORTFOLIO
          li
            a(href='/pricing') PRICING
          li
            a(href='/partners') PARTNERS
          li
            a(href='/recent-blog') BLOG
          li
            a#contact-usBtn(href='#') CONTACT US
        ul.dropdown.nav-navbar.p-0.mt-20.menu2.mb-0.navmenu-nav
          li
            a(href='http://webriq.us/terms', target='_blank') TERMS OF USE
          li
            a(href='/cookies') COOKIES
        .social-media.mt-40
          ul.dropdown.nav-navbar.p-0.navmenu-nav
            li
              a(href='https://www.facebook.com/WebFactories/', target='_blank')
                i.fa.fa-facebook
            li
              a(href='https://twitter.com/Webfactories', target='_blank')
                i.fa.fa-twitter
            li
              a(href='https://www.pinterest.com/webfactories', target='_blank')
                i.fa.fa-pinterest-p
