.container
  .row
    .col-md-12
      a(href='/')
        img(src=records.site.sitedata[0].logo)
      .pull-right.top_menu
          svg#svg_menu.drawsvg_line.drawsvg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='59px', height='59px', viewbox='0 0 59 59', enable-background='new 0 0 59 59', xml:space='preserve')
            path(fill='none', stroke='#039BE5', stroke-width='2', stroke-miterlimit='10', d='M57.835,29.5c0,15.418-12.499,27.918-27.917,27.918\
            S2,44.918,2,29.5C2,14.083,14.5,1.583,29.917,1.583C45.336,1.583,57.835,14.083,57.835,29.5z')
            g(fill='none', stroke='#039BE5', stroke-width='2', stroke-linecap='round', stroke-miterlimit='10')
              path.stroke_white(d='M13.333,18.667h33.001')
              path.stroke_white(d='M46.334,29.5H13.333')
              path.stroke_white(d='M13.333,39.75h33.001')
          button(type="button", class="hamburger button  nav_handle_push_right")
          #nav-icon1.hided
            span
            span
            span
//- section.header-menu
//-   .container.hidden-xs
//-     .row
//-       .col-md-6.col-sm-6
//-         a(href='/')
//-           img(src=records.site.sitedata[0].logo)
//-       .col-md-6.col-sm-6
//-         .menu-btn-header
//-           .navbar.navbar-default
//-             button.navbar-toggle(type='button', data-toggle='offcanvas', data-target='#myNavmenu', data-canvas='body')
//-               span.icon-bar
//-               span.icon-bar
//-               span.icon-bar
//-   // Mobile nav
//-   nav.navbar.navbar-default.navbar-static-top.hidden-sm.hidden-md.hidden-lg
//-     .container
//-       .navbar-header
//-         button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
//-           span.sr-only Toggle navigation
//-           span.icon-bar
//-           span.icon-bar
//-           span.icon-bar
//-         a.navbar-brand(href='/')
//-           img.wt(src='../img/webfactories-white-logo.png', alt='')
//-           img.nt(src='../img/webfactories-nt.png', alt='')
//-       #navbar.navbar-collapse.collapse
//-         ul.nav.navbar-nav
//-           li
//-             a(href='/')
//-               i.fa.fa-home
//-               |   Home
//-           li
//-             a(href='/#web-services')
//-               i.fa.fa-cog
//-               |   Web Services
//-           li
//-             a(href='/#web-services-commerce')
//-               i.fa.fa-shopping-cart
//-               |   E-commerce
//-           li
//-             a(href='/bots-are-the-new-apps')
//-               i.fa.fa-android(aria-hidden='true')  
//-               |   Bots
//-           li
//-             a(href='/#projects')
//-               i.fa.fa-briefcase
//-               |   Portfolio
//-           li
//-             a(href='/pricing')
//-               i.fa.fa-money
//-               |   Pricing
//-           li
//-             a(href='/partners')
//-               i.fa.fa-user
//-               |   Partners
//-           li
//-             a(href='/recent-blog')
//-               i.fa.fa-newspaper-o
//-               |   Blog
//-           li
//-             a#contact-usBtn(href='#')
//-               i.fa.fa-mobile
//-               |   Contact Us

//-   // Desktop Navs
//-   nav#myNavmenu.navmenu.navmenu-default.navmenu-fixed-right.offcanvas.collapsed(data-canvas='body', data-toggle='offcanvas', role='navigation')
//-         .main-menu.pt-50.pl-50.pr-20.pb-20
//-           ul.dropdown.nav-navbar.p-0.menu1.navmenu-nav
//-             li
//-               a(href='', onclick="MyWindow=window.open('/','_self'); return false;") HOME
//-             li
//-               a(href='', onclick="MyWindow=window.open('/#web-services','_self'); return false;") WEB SERVICES
//-             li
//-               a(href='', onclick="MyWindow=window.open('/#web-services-commerce','_self'); return false;") E-COMMERCE
//-             li
//-               a(href='', onclick="MyWindow=window.open('/bots-are-the-new-apps','_self'); return false;") BOTS
//-             li
//-               a(href='', onclick="MyWindow=window.open('/#projects','_self'); return false;") PORTFOLIO
//-             li
//-               a(href='', onclick="MyWindow=window.open('/pricing','_self'); return false;") PRICING
//-             li
//-               a(href='', onclick="MyWindow=window.open('/partners','_self'); return false;") PARTNERS
//-             li
//-               a(href='', onclick="MyWindow=window.open('/recent-blog','_self'); return false;") BLOG
//-             li
//-               a(href='', onclick="MyWindow=window.open('/#contact-us','_self'); return false;") CONTACT US
//-           ul.dropdown.nav-navbar.p-0.mt-20.menu2.mb-0.navmenu-nav
//-             li
//-               a(href='', onclick="MyWindow=window.open('http://webriq.us/terms'); return false;") TERMS OF USE
//-             li
//-               a(href='', onclick="MyWindow=window.open('/cookies','_self'); return false;") COOKIES
//-           .social-media.mt-40
//-             ul.dropdown.nav-navbar.p-0.navmenu-nav
//-               li
//-                 a(href='', onclick="MyWindow=window.open('https://www.facebook.com/WebFactories/'); return false;")
//-                   i.fa.fa-facebook
//-               li
//-                 a(href='', onclick="MyWindow=window.open('https://twitter.com/Webfactories'); return false;")
//-                   i.fa.fa-twitter
//-               li
//-                 a(href='', onclick="MyWindow=window.open('https://www.pinterest.com/webfactories'); return false;")
//-                   i.fa.fa-pinterest-p
